*,
*::before,
*::after {
  box-sizing: border-box;
  margin:5;
  padding:0;
}
body{
    background-image:
    radial-gradient(circle at 20px 20px, #aa406c 10%, transparent 11%),
    radial-gradient(circle at 60px 40px, #a94a45 10%, transparent 11%),
    radial-gradient(circle at 100px 80px, #9b3e97 10%, transparent 11%),
    radial-gradient(circle at 25px 70px, #963838 10%, transparent 11%);
  background-size: 120px 120px;
  background-repeat: repeat;
  background-color:#f4d58d;
  color:#8d0801;
  max-width:1920px;
  margin-inline:auto;
  font-family: 'Roboto', sans-serif;
}                                                   
.hero-image{
  width:50%;
  aspect-ratio:3/2;
  object-fit:cover;
  border-radius:50px;
}
.info-img{
  width:50%;
  aspect-ratio:3/2;
  border-radius:10px;

}                                 